<p id="notice"><%= notice %></p>

<p>
  <b>Sub Category name:</b>
  <%= @sub_category.name %>
</p>


<%= link_to 'Edit Sub Category', edit_sub_category_path(@sub_category) %> |
<%= link_to 'List of Sub Categories', sub_categories_path %>
