/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 .heading
 {
 	   color: #75A3FF;
     text-align:center;
     margin-top: 10px;

 }
 .listheading
 {
 	
 	
   border-top-right-radius:20px;
   border-bottom-right-radius:20px; 
     background-color: #D3E2FF;
   height: 50px;
   width:50%;
   text-align: center;
 }
 .noevents
 {
 	 border-radius:20px;
 	   background-color: #D3E2FF;
 	 height: 339px;
    text-align: center;
    width: 860px;
    font-size:50px;
    margin-top: 50px;
    padding-top: 1px;
   
 }
 .fontstyling
 {
 	margin-top: 13px;
    padding-top: 1px;
    text-align: right;
 }
 .searchbox
 {
 	 float: right;
    margin-left: 18px;
    margin-right: 339px;
 }
.header
{
	 background-color: #D3E2FF;
    height: 60px;
    margin-top: 5px;
    padding-top: 32px;
    text-align: center;
    width: 100%
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.tablesorter th
{
	 background-color: #D3E2FF;
    height: 30px;
    margin-top: 5px;
    padding-top: 32px;
    text-align: center;
    width: 100%
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
#Editprofile
{
text-align: right
}
#user_nav
{
  margin-right: 15px;
    margin-top: -20px;
    text-align: right;
}
.tablestyling ,.tablesorter
{
	height: 342px;
 margin-top: 21px;
 padding:0px;

	width:70%;
	box-shadow: 10px 10px 5px #888888;

	border: 5px groove #75A3FF;

	

	-moz-border-radius-bottomleft:18px;

	-webkit-border-bottom-left-radius:18px;

	border-bottom-left-radius:18px;

	

	-moz-border-radius-bottomright:18px;

	-webkit-border-bottom-right-radius:18px;

	border-bottom-right-radius:18px;

	

	-moz-border-radius-topright:18px;

	-webkit-border-top-right-radius:18px;

	border-top-right-radius:18px;

	

	-moz-border-radius-topleft:18px;

	-webkit-border-top-left-radius:18px;

	border-top-left-radius:18px;

}

.tablestyling ,.tablesorter table
{
	width:100%;

	height:100%;

	margin:0px;padding:0px;

}
.tablestyling,.tablesorter tr:last-child td:last-child {

	-moz-border-radius-bottomright:18px;

	-webkit-border-bottom-right-radius:18px;

	border-bottom-right-radius:18px;
}

.tablestyling ,.tablesorter table tr:first-child td:first-child {

	-moz-border-radius-topleft:18px;

	-webkit-border-top-left-radius:18px;

	border-top-left-radius:18px;

}

.tablestyling,.tablesorter table tr:first-child td:last-child {

	-moz-border-radius-topright:18px;

	-webkit-border-top-right-radius:18px;

	border-top-right-radius:18px;

}.tablestyling ,.tablesorter tr:last-child td:first-child{

	-moz-border-radius-bottomleft:18px;

	-webkit-border-bottom-left-radius:18px;

	border-bottom-left-radius:18px;

}.tablestyling ,.tablesorter tr:hover td{

	

}
.tablestyling ,.tablesorter tr:nth-child(odd){ background-color:#D3E2FF;
 height: 50px; font-family: arial;
    font-size: 14px; }

.tablestyling ,.tablesorter tr:nth-child(even)    { background-color:#ffffff; }
#category
{
	color: #23238e;
	font-style: italic;
    font-weight: bold;
}
.tablestyling ,.tablesorter td{
	 font-family: fantasy;
    font-size: 12px;

	vertical-align:middle;

	

	

	border: 5px groove #75A3FF;

	border-width:0px 1px 1px 0px;

	text-align:center;

	padding:10px;

	font-size:10px;

	font-family:Arial;

	font-weight:normal;

	color:#000000;

}.tablestyling ,.tablesorter tr:last-child td{

	border-width:0px 1px 0px 0px;

}.tablestyling ,.tablesorter tr td:last-child{

	border-width:0px 0px 1px 0px;

}.tablestyling ,.tablesorter tr:last-child td:last-child{

	border-width:0px 0px 0px 0px;

}

.tablestyling ,.tablesorter tr:first-child td{

	font-weight:bold;

}

.tablestyling ,.tablesorter tr:first-child:hover td{


}

.tablestyling ,.tablesorter tr:first-child td:first-child{

	border-width:0px 0px 1px 0px;

}

.tablestyling ,.tablesorter tr:first-child td:last-child{

	border-width:0px 0px 1px 1px;

}
#conatiner_demo
{
	border: 2px,2px,2px,2px;
	border-image-source: texture.jpg;

}
.wrapper
{
	background-color: #D3E2FF;
    border-style: groove;
    border-width: 5px;
    margin-left: 276px;
    margin-top: 65px;
   border-color: #75A3FF;
    height: 318px;
    
    width: 48%;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
.rightdiv
{
	background-color: #D3E2FF;
    border-color: #75A3FF;
    border-radius: 20px 20px 20px 20px;
    border-style: groove;
    border-width: 5px;
     height: 193px;
    margin-left: 886px;
    margin-top: -56px;
    text-align: center;
    width: 25%;
}

.wrapper1
{
	
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    background-color: #D3E2FF;
    border-color: #75A3FF;
    border-radius: 20px 20px 20px 20px;
    border-style: groove;
    border-width: 5px;
    float: right;
    height: 283px;
    margin-left: 921px;
    margin-top: -346px;
    padding-right: 10px;
    width: 25%
}
.pagination
{
	margin-right: 340px;
   }
ul.pagination
{
margin-bottom: 2px;
    margin-right: 19px;
    margin-top: 14px;
    padding: 10px 0;
    float: right;
    list-style: disc outside none;

}
ul.pagination li
{
	
    display: inline;
    margin: 0;
    padding: 0;
    border: 1px solid #045875;
    color: #474747;
    font-size: 13px;
    margin-right: 4px;
    padding: 4px;
    border-radius: 3px 3px 3px 3px;
}
li.active
{
	background: none repeat scroll 0 0 #D3E2FF;
}